.navbarWrapper {
    width: 100vw;
    height: 50px;
    background-color: black;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
}

.navbar li {
    list-style: none;
    cursor: pointer;
}

.navbar a {
    color: white;
    text-decoration: none;
}
